---
const { title, link, imageSrc, blurb } = Astro.props;
---

<li>
  <a href={link}>
    <img src={imageSrc} alt={title} style="width: 500px; height: 250px;" />
    <h3>{title}</h3>
    <p>{blurb}</p>
  </a>
</li>
